---
import { getCollection, getEntry, CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

const recipes = await getCollection("recipes");
---

<Layout title="Recipe Hub">
  <main>
    <div class="flex flex-col space-y-3 font-medium text-stone-800 p-4 text-lg">
      <a class="block bg-white px-6 py-4 shadow-md flex-1" href="/dinner">
        <h3 class="mb-1">Dinner + Meal Ideas &rarr;</h3>
        <p class="text-base font-normal">Ideas and recipes for tea.</p>
      </a>
      <a class="block bg-white px-6 py-4 shadow-md flex-1" href="/baking">
        <h3 class="mb-1">Baking &rarr;</h3>
        <p class="text-base font-normal">Baking Recipes</p>
      </a>
      <a class="block bg-white px-6 py-4 shadow-md flex-1" href="/extras">
        <h3 class="mb-1">Miscellaneous &rarr;</h3>
        <p class="text-base font-normal">Extra stuff: sauces etc</p>
      </a>
    </div>
  </main>
</Layout>
